<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Villain</title>
</head>
<body>
  <a href="/villains">Home</a>
  <h1>One Villain (more than enough)</h1>
  <h2>Alias: <%= alias %></h2>
  <h2>Movie: <%= movie %></h2>
</body>
</html>
